{% load static %}{% url 'carts:cart' as cart %}
{% url 'producto' as producto %}
{% url 'users:login' as login %}
{% url 'register' as register %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
	<style type="text/css">
		img{
			margin-left: -50px;
		}
	</style>
	
	<!-- title -->
	<title>Imagenta</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="{% static 'images/Icon.png' %}">
	

	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main3.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
	<div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
	
	
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'index' %}">
								<img src="{% static 'images/logo2.png' %}" >
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								
								</li>
								<li><a href="{% url 'about' %}">Nosotros</a></li>
								
								<li><a href="{% url 'producto' %}">Productos</a></li>							
								<li>
								    <div class="social-icons">
						                <ul>
											<li><a  href="{% url 'login' %}"><i class="fa fa-user"></i></i> <br>Iniciar Sesion</br></a></li>
											<li><a  href="{% url 'producto' %}"><i class="fa fa-shopping-cart"></i> <br>Carrito</br></a></li>
											{% if user.is_authenticated %}
											<li class="navbar-item">
												<a href="#" onclick="cerrarSesion()"  class="nav-link" style="color: white;">
												  <span class="fas fa-sign-in-alt"></span>
												  Cerrar Sesion</a>
											  </li>
											  {% else %}
											  {% endif %}
											 
										</ul>

					               </div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Imagenta </p>
							<h1>Publicidad en General</h1>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->
	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>No envíos </h3>
							<p>No se realiza el envío</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Soporte 24/7 </h3>
							<p>Obtenga soporte todo el día</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Reembolso </h3>
							<p>Obtenga su reembolso con su factura</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->
	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Pro</span>ductos</h3>
						<p>Aquí encontrarás nuestros productos</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'index' %}"><img src="{% static 'images/impresora original.jpg' %}" alt=""></a>
						</div>
						<h3>Impresión Digital</h3>
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a ><img src="{% static 'images/senal.png' %}" alt=""></a>
						</div>
						<h3>Señalización</h3>
				   </div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a ><img src="{% static 'images/sello.png' %}" alt=""><a>
						</div>
						<h3>Sellos</h3>
				
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href=""><img src="{% static 'images/facturacomercial.png'%}" alt=""><a>
						</div>
						<h3>Papelería comercial</h3>
				
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href=""><img src="{%static 'images/camiseta.png'%}" alt=""><a>
						</div>
						<h3>Estampado comercial</h3>
				
					</div>
				</div>
					<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'index' %}"><img src= "{% static 'images/diseñográfico.png' %}" alt=""><a>
						</div>
						<h3>Diseño gráfico</h3>
				
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'images/admin.jpg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Andrea Hoyos </h3>
								<p class="testimonial-body">
									Administradora y diseñadora gráfica
								</p>
								
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'images/maquinista.jpg' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Edgar Salamanca</h3>
								<p class="testimonial-body">
									Maquinista de la empresa
								</p>
								
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="{% url 'index' %}">
							<img src="{% static 'images/Somosimagenta.jpg' %}" style="margin-left: 1px;"></a>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Desde el año 2019</p>
						<h2>Somos <span class="orange-text">Imagenta</span></h2>
						<p>Imagenta es una empresa joven, creada con el objetivo de ofrecerle al cliente distintas formas de publicidad para promover su empresa. Nos caterizamos por tener cuatro categorías promocionales que tienen distintos tipos de creaciones; En nuestro primer catálogo nos dedicamos a crear impresión digital, en la segunda categoría se dedica a la señalización, en la tercera categoría nos dedicamos a la papelería comercial y nuestra cuarta y última categoría se dedica a los estampados en camisetas, gorras, mugs, botones y tres tipos de sellos: automáticos, fecheros y secos.</p>
						<a href="{% url 'about' %}" class="boxed-btn mt-4">Nosotros</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	<!-- end latest news -->
	
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'images/impresion1.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images//fotocopia.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/escaner.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/caja luz.png' %}">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/placas.png' %}">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/tarjetas.png' %}">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/volantes.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/factura.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/bastidores.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/adhesivos.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/boletas.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/canerts.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/menus.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/rompetraficos.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/etiquetas.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/imanadas.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/sellos.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/ploter de corte.png' %}" >
						</div>
						<div class="single-logo-item">
							<img src="{% static 'images/mugs.png' %}" >
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">Imagenta</h2>
						<p>Imagenta es una empresa que se dedica a  crear en lo que se trata de publicidad en general.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Contacto</h2>
						<ul>
							<li>Calle 26 Sur # 73 - 36 Bogotá, Colombia.</li>
							<li>imagentacreativa@gmail.com</li>
							<li>+57 315 5278012</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Nosotros</h2>
						<ul>
							<li><a href="{% url 'about' %}">Inicio</a></li>
							<li><a href="{% url 'about' %}">Servicios</a></li>
							<li><a href="{% url 'contacto' %}">Contacto</a></li>
							<li><a href="">Productos</a></li>	
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<div class="footer-box subscribe">
						<a href="{% url 'index' %}">
						<img src="{% static 'images/logo6.png' %}" style="width:600px; height:100px" >
						</a>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		{% include 'messages.html' %}
  
		{% block breadcrumb %}
		{% endblock %}

	
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'js/main1.js' %}"></script>
	

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
		function cerrarSesion(id) {
			Swal.fire({
				title: '¿Estás seguro?',
				text: 'Cerrarás tu sesión, se perderá el proceso que estás realizando',
				icon: 'question',
				showCancelButton: true,
				cancelButtonText: 'No, deseo seguir aquí',
				confirmButtonText: 'Si, estoy seguro',
				confirmButtonColor: '#198754',
				cancelButtonColor: 'succes',
			})
				.then(function (result) {
					if (result.isConfirmed) {
						window.location.href = "{% url 'logout' %}"
					}
				})
		}
</script>  

	


	

	

</body>
</html>