{% load static %}
<!DOCTYPE html>
<html lang="en">

<title>Imagenta</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/recuperar.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


<head>
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'images/icon1.png' %}">
</head>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Se cambió la contraseña </h2>
    <div class="fadeIn first">
      <img src="{% static 'images/logo2.png' %}" />
    </div>
    
    <h2 style="color: white">RESTABLECIMIENTO DE CONTRASEÑA COMPLETADO <br>
      Su contraseña ha sido establecida.Ahora puede continuar e iniciar sesion.</h2>
    <br>
    



      <div id="formFooter">
        <a  href="{% url 'login' %}">INICIAR SESION</a>
      </div>

    
  </div>
</div>


</html>