{% load static %}
<!DOCTYPE html>

<html lang="en">


<title>¿Olvidaste tu contraseña?</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/recuperar.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">


<head>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}">

</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Restablecer Contraseña </h2>
        <div class="fadeIn first">
            <img src="{% static 'images/logo2.png' %}" />
        </div>




        <h4 style="color: white">REESTABLECIMIENTO DE CONTRASEÑA ENVIADO <br>
            Le enviamos instrucciones por correo electronico para configurar su contraseña. Si no
            recibe un correo electronico,asegurese de revisar carpeta spam</h4>

    </div>
</div>

</html>