{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Orden completada</title>
    
  </head >
  <body >
    <a><img src="{{ STATIC_URL }}/static/images/logo2.png"></a>  
    <div class="">
      <h3> Hola! {{ user.username }} Tu compra a sido extiosa </h3>
      <h1>El envio sera realizado dentro de 3 dias habiles </h1>
      
      <p>Recuerda puedes visitar la página para ver tus pedidos</p>
      <a href="{{ next_url }}" target="_blank" style="color: white;">Mis pedidos</a>
      
    </div>
  </body>
</html>
